.Imagem{
    width: 80px!important;
    height: 60px!important;
}
.div-todasimagens{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    text-align: center;
    margin-top: 25px;
    position: inherit;
}
.titulo{
    font-size: 10px;
    color: rgb(36, 64, 189);
    margin-bottom: 7px;
    text-align: center;
}

 @media screen and (min-width: 1024px) {
    .gridimg{
        background-color: rgb(137, 137, 255);
    }
    
 }

 .Imagem{
    border-top: 10px groove rgb(92, 33, 133);
    border-left: 10px dotted rgb(231, 217, 12);
    border-right: 10px solid rgb(223, 5, 5);
    border-bottom: 10px dashed Orgb(9, 9, 177);
    width: 180px!important;
    height: 160px!important;
 }

 .titulo {
    font-size: 30px;
    color: rgb(2, 46, 46);
 }

 .secao__banner{
    width: 100%;
    display: block;
 }